*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cuerpo;
}
@font-face {
    font-family: cuerpo;
    src: url(../fuentes/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family: especial;
    src: url(../fuentes/BrunoAceSC-Regular.ttf);
}
/* Estilos generales */
body {
    width: 100%;
    height: 100%;
    background-color: #f2f8ff;
}
.caja-registradora {
    margin: auto;
    background-color: #aecefa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
h1 {
    font-family: especial;
    text-align: center;
    font-size: 300%;
    letter-spacing: 4px;
    margin-bottom: 20px;
    color: #777777a6;
}
.contenedor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
/* Estilos para los campos */
.campo {
    width: calc(30% - 10px);
    display: inline-block;
    margin-bottom: 20px;
    text-align: left;
}
.campo h4 {
    margin: 0 0 0 10px;
    color: #333;
    font-size: 18px;
}
.campo input[type="text"], .campo input[type="number"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* Estilos para los botones */
.botones {
    display: flex;
    justify-content: right;
    gap: 25px;
}
.botones input[type="submit"] {
    padding: 10px 20px;
    background-color: #4d85c9;
    color: white;
    border: none;
    letter-spacing: 2px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.botones input[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.02);
    transition: 0.5s ease;
}
.footer{
    display: flex;
    background-color: #aecefa;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footer h4{
    margin-top: 20px;
    margin-left: 10px;
    color: #333;
    font-size: 18px;
}
.footer input[type="number"]{
    margin: 20px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.footer input[type="submit"]{
    height: 50px;
    width: 8%;
    margin-top: 10px;
    margin-left: 60px;
    padding: 10px 20px;
    background-color: #4d85c9;
    color: white;
    border: none;
    letter-spacing: 2px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.footer input[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.02);
    transition: 0.5s ease;
}
