*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cuerpo;
}
@font-face {
    font-family: cuerpo;
    src: url(../fuentes/BrunoAceSC-Regular.ttf);
}
body{
    width: 100%;
    height: 100%;
}
.titular{
    text-align: center;
    background-color: darkslategrey;
}
.titular a{
    border-radius: 15px;
}
.Buscar{
    float: right;
    height: 30px;
    width: 10%;
    font-size: 20px;
    margin-right: 5%;
    margin-top: 2%;
    border-radius: 15px;
    background-color: aquamarine;
    cursor: pointer;
}
.Buscar:active, .atras:active{
    background-color: rgb(70, 160, 130);
    color: white;
}
.ingreso:active, .actualiza:active{
    color: white;
}
.atras{
    float: left;
    height: 30px;
    width: 10%;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 15px;
    background-color: aquamarine;
    cursor: pointer;
}
.titular h1{
    padding-top: 10px;
    margin-left: 150px;
    font-size: 55px;
}
.campo{
    display: grid;
    grid-template-columns: 200px;
    float: left;
    padding: 10px 40px;
    margin: 25px 28px 5px 28px;
    border: 2px aquamarine solid;
    border-radius: 20px;
}
.campo h4{
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 20px;
}
.campo input{
    height: 20px;
    border-radius: 5px;
    padding-left: 5px;
}
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.botones{
    text-align: center;
}
.botones .btn{
    font-size: 35px;
    height: 60px;
    width: 300px;
    margin: 20px 50px;
    border-radius: 20px;
    background-color: aquamarine;
}
.lista{
    display: flex;
    gap: 240px;
    padding-left: 150px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: darkslategrey;
}
.contenido-lista div{
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
}
.products{
    padding-left: 12%;
    gap: 250px;
}
